@import "tailwindcss" @layer components {
  .btn {
    border-radius: calc(infinity * 5px);
    background-color: var(--color-foam);
    padding-inline: --spacing(5);
    padding-block: --spacing(2);
    font-weight: var(--font-weight-semibold);
    color: var(--color-text);
    box-shadow: var(--shadow-md);
    &:hover {
      @media (hover: hover) {
        box-shadow: var(--shadow-lg);
        padding-inline: --spacing(6);
        padding-block: --spacing(2);
      }
    }
  }
}
