---
import IngredientHolder from "@components/Ingredients";
import Main from "@layouts/main.astro";
import Markdown from "@components/markdown";
import RecipeInfo from "@components/recipe/Info";
import { PGLite } from "src/data-source";
import { Recipe } from "src/entity/Recipe";

const { id } = Astro.params;

if (!id) return Astro.redirect("/");

const data = await PGLite.getRepository(Recipe).findOne({
  where: { id },
});
if (!data) return Astro.redirect("/404?message=Recipe came back undefined");
---

<Main title={data.title || ""}>
  <div class="pt-1">
    <RecipeInfo client:load />
  </div>

  <div class="mx-auto">
    <IngredientHolder client:load />
  </div>

  <Markdown
    body={data.body ||
      "## Nothing here yet ...\n\n\nOpen the menu & press edit to get started"}
  />
</Main>
