---
// fts based on https://github.com/delucis/astro-db-fts

import { db, sql } from "astro:db";

import CardImage from "@components/cardImage.astro";
import MainLayout from "@layouts/mainLayout.astro";

const query = Astro.url.searchParams.get("search") || "";

const sanitizedQuery = '"' + query.replaceAll('"', '""') + '"';
const res = await db.run(sql`
			SELECT *
			FROM Recipes
			WHERE Recipes MATCH ${sanitizedQuery}
      ORDER BY rank;
		`);
---

<MainLayout title={query || "search"}>
  {
    query && (
      <div class="flex flex-col mx-auto p-2 bg-rosePine-surface rounded-md text-rosePine-text gap-4 w-1/3">
        <h2 class="bg-rosePine-highlightMed shadow-lg p-2 rounded text-center">
          {res.rows.length} result{res.rows.length === 1 ? "" : "s"} for{" "}
          <code class="text-rosePine-pine">{query}</code>
        </h2>
        {res.rows.map(
          ({
            title,
            author,
            description,
            body,
            image,
            imageAlt,
            prepTime,
            cookTime,
          }) => (
            <a href={"/recipes/by-title/" + title}>
              <div class="flex justify-between bg-rosePine-highlightMed rounded-md">
                <CardImage
                  src={image as string | null}
                  alt={imageAlt as string | null}
                />
                <div class="mx-auto w-full pl-2 flex flex-col">
                  <span class="font-bold text-xl px-3 py-1">{title}</span>
                  <p class="text-wrap overflow-hidden px-3 py-1">
                    {description ||
                      "No description yet. Open this recipe to add one"}
                  </p>
                  <div class="bg-rosePine-highlightHigh rounded-md grid grid-cols-2 grid-rows-2 gap-1 px-3 py-1 text-xs text-nowrap font-semibold text-rosePine-text m-2 w-fit">
                    <span>Time to Prep: </span>
                    {prepTime || "Not set yet"}
                    <span>Time to Cook: </span>
                    {cookTime || "Not set yet"}
                  </div>
                </div>
              </div>
            </a>
          ),
        )}
      </div>
    )
  }
</MainLayout>
