---
import Ingredients from "@components/Ingredients";
import Layout from "@layouts/main.astro";
import Markdown from "@components/markdown";
import Info from "@components/recipe/Info";
import { Recipe } from "src/entity/Recipe";

const { id } = Astro.params;

if (!id) return Astro.redirect("/recipes");

const data = await Recipe.findOne({
  where: { id },
});

if (!data) return Astro.redirect("/404?message=Recipe came back undefined");
---

<Layout title={data.title || "editing"} editing={true}>
  <div class="pt-1">
    <Info client:load transition:persist />
  </div>

  <Ingredients client:load transition:persist />

  <div class="flex h-fit flex-col gap-2 xl:flex-row">
    <div class="w-full">
      <Markdown body={data.body || ""} client:load />
    </div>
  </div>
</Layout>
