---
import type {selectIngredient} from "@db/schema"

import Ingredient from "./ingredient.astro";
import IngredientAdder from "./ingredientAdder.astro";

interface Props {
  recipeId: number;
  editing: boolean;
  ingredients: selectIngredient[];
}

const { recipeId, editing, ingredients } = Astro.props;
---
{/* TODO: unit selector */}

<table
  class=" bg-surface m-1 p-2 border-highlightHigh text-sm md:text-xl lg:text-2xl 2xl:text-3xl mx-auto"
>
  <thead class="flex w-full items-center">
    <tr class="flex w-full justify-between mx-1">
      {
        editing ? (
          <th >Amount</th>
          <th >Unit</th>
          <th >Name</th>
          <th>Actions</th>
        ) : <th>Ingredients</th>
      }
    </tr>
  </thead>
  <tbody class="flex flex-col items-center justify-between max-h-screen overflow-scroll">
  {
    ingredients?.map((ingredient) => (
      <Ingredient
        editing={editing}
        {...ingredient}
      /> 
    ))
  }
  
  </tbody> 
  <tfoot class="flex flex-col items-center justify-between">
    { editing ? <IngredientAdder recipeId={recipeId} /> : null}
  </tfoot>
    

  
</table>
