---
import Button from "@components/generic/button.astro";
import { Units } from "@lib/types";

interface Props {
  recipeId: number;
}

const { recipeId } = Astro.props;
---

<tr data-recipeid={recipeId} is="IngredientAdder" class="flex h-full">
  {/* amount */}
  <td>
    <input
      name="amnt"
      type="text"
      class="bg-surface w-full"
      placeholder="Amount"
    />
  </td>

  {/* unit */}
  <td>
    <select name="unit" class="bg-surface w-full">
      <option selected> ----None---- </option>
      {Units.map((unit) => <option value="unit">{unit}</option>)}
    </select>
  </td>

  {/* name */}
  <td>
    <input
      name="name"
      type="text"
      class="bg-surface text-surface w-full"
      placeholder="Name"
      maxlength="25"
    />
  </td>

  <td>
    <div class="flex flex-col md:flex-row gap-1">
      {/* add button */}
      <Button id="addbtn" style="submit" size="small"></Button>
      {/* clear button */}
      <Button id="clrbtn" style="cancel" size="small">󰜺</Button>
    </div>
  </td>
</tr>

<script>
  import { actions } from "astro:actions";

  class IngredientAdder extends HTMLTableRowElement {
    reset() {
      const inputs = ["#amount", "#unit", "#unit"].map(
        (id) => this.querySelector(id) as HTMLInputElement
      );
      inputs.map((input) => (input.value = ""));
    }

    connectedCallback() {
      const addbtn = this.querySelector("#addbtn") as HTMLButtonElement;
      addbtn?.addEventListener("click", async () => {
        const recipeId = parseInt(this.dataset.recipeid as string);

        const amnt = this.querySelector(
          "input[name='amnt']"
        ) as HTMLInputElement;
        const unit = this.querySelector(
          "input[name='unit']"
        ) as HTMLInputElement;
        const name = this.querySelector(
          "input[name='name']"
        ) as HTMLInputElement;

        const { error } = await actions.ingredient.addIngredient({
          recipeId,
          amount: amnt?.value,
          unit: unit?.value,
          name: name?.value,
        });

        if (error) console.error(error.message);

        location.reload();
      });

      const resetbtn = this.querySelector("#resetbtn") as HTMLButtonElement;
      resetbtn?.addEventListener("click", this.reset);
    }
  }

  customElements.define("ingredient-adder", IngredientAdder, { extends: "tr" });
</script>
