---
import Main from "@layouts/main.astro";

const title = "404";
const description = "Page Not Found";

const message = Astro.url.searchParams.get("message");
---

<Main title={title}>
  <div class="text-center">
    <p>Error: 404</p>
    <p>{message || description}</p>
  </div>
</Main>
