@use "lib/reset";
@use "lib/typography";
@use "lib/utils" as *;


.actions {
  display: flex;
  gap: 0.5rem;

  form {
    display: contents;
  }

  input[type=submit] {
    @include button;
  }

  input[type=search] {
    @include rounded;

    background: $surface;
    border-color: $muted;
    padding: .25rem;
  }
}

.card {
  @include rounded;
  display: grid;
  grid-template-rows: auto 12rem 1rem;

  background: $surface;
  text-align: center;

  max-width: 20rem;

  &>img {
    @include rounded;
  }
}