---
import MainLayout from "../layouts/mainLayout.astro";

const title = "404";
const description = "Page Not Found";
---

<MainLayout title={title}>
  <div class="text-center">
    <p>Error: 404</p>
    <p>{description}</p>
  </div>
</MainLayout>
