---
import Main from "@layouts/main.astro";

interface Props {
  error: unknown;
}

const { error } = Astro.props;
---

<Main title={error instanceof Error ? error.name : "Unknown Error"}>
  <div class="text-center">
    {error instanceof Error ? error.message : "Unknown Error"}
  </div>
</Main>
