---
import MainLayout from "@layouts/mainLayout.astro";
import RecipeSearch from "@components/RecipeSearch.astro";

const title = "Astro Boiler Plate";
---

<MainLayout title={title}>
  <h1 class="text-center">Welcome to astro Chef</h1>
  <RecipeSearch />
  <div>
    <!-- TODO: add recipe cards here, ideally on a carousel -->
  </div>
</MainLayout>
