---
import MainLayout from "@layouts/mainLayout.astro";
import RecipeSearch from "@components/RecipeSearch.astro";
import { Image } from "astro:assets";

const title = "Astro Chef";
---

<MainLayout title={title}>
  <h1 class="text-center">Welcome to astro Chef</h1>
  <RecipeSearch />

  <div>
    <!-- TODO: add recipe cards here, ideally on a carousel -->
     <Image src="doge.png" width={500}   height={500} alt="pupper"/>
  </div>
</MainLayout>
