---
import Main from "@layouts/main.astro";
import Carousel from "@components/Carousel";

const title = "Astro Chef";
---

<Main title={title}>
  <Carousel title="Random" client:load />
  <Carousel title="Popular" client:load />
  <Carousel title="Liked" client:load />
</Main>
