---
import MainLayout from "@layouts/mainLayout.astro";
import RecipeCard from "@components/RecipeCard.astro";

import { db, Recipe } from "astro:db";

const recipes = await db
  .select()
  .from(Recipe)
  .orderBy(Recipe.edited || Recipe.created);
---

<MainLayout title={"Browse Recipes"}>
  <div class="text-center text-4xl font-bold mb-4">All Recipes</div>

  <div class="columns-4">
    {recipes.map((r: typeof Recipe) => <RecipeCard {...r} />)}
  </div>
</MainLayout>
