---
import Button from "./button.astro";
import RecipeSearch from "@components/recipe/recipeSearch.astro";
---

<nav
  class="flex gap-3 justify-between font-extrabold md:text-3xl bg-rosePine-surface rounded-md border-rosePine-highlightHigh text-rosePine-text shadow-lg"
>
  <div class="my-auto">
    <a href="/">
      <button type="button">Home</button>
    </a>
    <a href="/recipes/">
      <button type="button"> Recipes </button>
    </a>
    <a href="/recipes/random">
      <button type="button">Random</button>
    </a>
  </div>
  <div class="p-1 flex gap-2">
    <RecipeSearch />
    <Button type="generic" size="small" destination={"/recipes/new"}
      >New Recipe</Button
    >
  </div>
</nav>
