---
const { ingredients } = Astro.props;
import { ingredient } from "astro:db";

const editMode = Astro.url.searchParams.get("edit") === "true";
---

{editMode && <form id="ingredient" action="/api/ingredients" method="post" />}

<div
  class="w-fit mx-auto bg-kitchen-fg text-kitchen-bg p-2 rounded-sm grid grid-cols-3"
>
  <span>Name</span>
  <span>Amount</span>
  <span>Unit</span>

  {
    ingredients.map((cingredient: typeof ingredient) => (
      <div class="flex text-kitchen-fg">
        <p>{cingredient.name}</p>
        <p>
          {cingredient.amount}
          {cingredient.unit}
        </p>
      </div>
    ))
  }
  {
    editMode && (
      <>
        <input
          name="name"
          id="name"
          type="text"
          class="text-kitchen-fg bg-kitchen-bg border border-kitchen-fg"
          form="ingredient"
        />
        <input
          name="amount"
          id="amount"
          type="text"
          class="text-kitchen-fg bg-kitchen-bg border border-kitchen-fg"
          form="ingredient"
        />
        <select
          name="unit"
          id="unit"
          class="text-kitchen-fg bg-kitchen-bg border border-kitchen-fg"
          form="ingredient"
        >
          <option value="grams">Grams</option>
          <option value="milligram">Milligrams</option>
          <option value="oz">Ounces</option>
          <option value="cups">Cups</option>
          <option value="tbsp">Tablespoon</option>
          <option value="tsp">Teaspoon</option>
        </select>
        <input
          name="id"
          form="ingredient"
          value={Astro.url.pathname.substring(9)}
        />
      </>
    )
  }
  {
    editMode && (
      <button form="ingredient" type="submit">
        Save
      </button>
    )
  }
</div>
