---
import { Icon } from "astro-icon/components";
---

<div class="m-1 p-1 w-fit rounded-full flex bg-[#3d405bba] mx-auto">
  <Icon name="mdi:magnify" class="my-auto mx-auto absolute" />
  <textarea
    class="bg-transparent md:text-lg my-auto rounded-full ps-8"
    placeholder="Search For a Recipe"
    rows="1"
    maxlength="150"></textarea>
</div>
