---

---

<div class="m-1 p-1 w-fit rounded-full flex bg-[#3d405bba] mx-auto">
  <textarea
    class="bg-transparent md:text-lg m-auto rounded-full ps-2"
    placeholder="Search For a Recipe"
    rows="1"
    maxlength="150"></textarea>
</div>
