---
import Button from "./button.astro";

function getParams() {
  const filters = Astro.url.searchParams.getAll("filter");
  const sortBy = Astro.url.searchParams.get("sortBy");

  return { filters, sortBy: sortBy || "by-id" };
}

const { filters, sortBy } = getParams();

function isInFilters(filter: string, filters: string[] | null) {
  if (!filters) return false;
  const count = filters.filter((f) => f === filter);
  if (count.length > 0) return true;
  else return false;
}
---

<div class="bg-rosePine-surface rounded-lg w-1/4 h-fit px-2 py-4">
  <form
    method="get"
    action="/recipes"
    id="search"
    class="text-rosePine-text flex-col flex gap-2"
  >
    <div class="grid grid-cols-3">
      <div class="col-span-3">
        <label for="sortBy" class="font-bold text-2xl">Sort By: </label>
        <select
          name="sortBy"
          class="my-auto bg-rosePine-muted rounded-lg w-2/3"
        >
          <option value="random" selected={"random" === sortBy}>Random</option>
          <option value="popular" selected={"popular" === sortBy}
            >Popular</option
          >
          <option value="by-id" selected={"by-id" === sortBy}>By Id</option>
        </select>
      </div>
      <span class="font-bold text-2xl">Filters: </span>

      <div class="mx-auto col-span-2">
        <input
          type="checkbox"
          name="filter"
          value="liked"
          class="bg-rosePine-muted rounded-full my-auto mb-1"
          checked={isInFilters("liked", filters)}
        />
        <label for="liked" class="text-2xl my-auto text-left">Liked</label>
      </div>
    </div>

    <div class="flex flex-col pt-5">
      <Button style="submit" size="small" extraClasses="w-full">Search</Button>

      <select name="perPage" class="bg-rosePine-muted rounded-lg mt-2 w-full">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="40">40</option>
        <option value="50">50</option>
      </select>
    </div>
  </form>
</div>
