---
import Button from "@components/generic/button.astro";
import Input from "./generic/input.astro";

function getParams() {
  const filters = Astro.url.searchParams.getAll("filter");
  const sortBy = Astro.url.searchParams.get("sortBy");
  const perPage = parseInt(Astro.url.searchParams.get("perPage") || "20");
  const search = Astro.url.searchParams.get("search");

  return { filters, sortBy: sortBy || "views", perPage, search };
}

const { filters, sortBy, perPage, search } = getParams();

function isInFilters(filter: string, filters: string[] | null) {
  if (!filters) return false;
  const count = filters.filter((f) => f === filter);
  if (count.length > 0) return true;
  else return false;
}
---

<div
  class="px-2 py-4 m-1 rounded-lg bg-surface h-fit max-w-screen-md xl:max-w-sm w-full mx-auto"
>
  <form
    method="get"
    action="/recipes"
    id="search"
    class="flex flex-col gap-2 text-text"
  >
    <Input label="Search" name="search" value={search} />

    <div class="col-span-3">
      <label for="sortBy" class="text-lg font-bold">Sort By: </label>
      <select name="sortBy" class="w-full my-auto rounded-lg bg-muted">
        <option value="random" selected={"random" === sortBy}>Random</option>
        <option value="views" selected={"views" === sortBy}>Popular</option>
        <option value="by-id" selected={"by-id" === sortBy}>By Id</option>
        <option value="title" selected={"title" === sortBy}>By Title</option>
      </select>
    </div>
    <span class="text-lg font-bold">Filters: </span>

    <div class="pl-2">
      <label for="liked" class="my-auto text-left lg">Liked</label>
      <input
        type="checkbox"
        name="filter"
        value="liked"
        class="my-auto mb-1 rounded-full bg-muted"
        checked={isInFilters("liked", filters)}
      />
    </div>
    <div class="flex flex-col pt-5">
      <Button style="submit" size="small" extraClasses="w-full" type="submit"
        >Search</Button
      >

      <select name="perPage" class="w-full mt-2 rounded-lg bg-muted">
        <option value="10" selected={perPage == 10}>10</option>
        <option value="20" selected={perPage == 20}>20</option>
        <option value="30" selected={perPage == 30}>30</option>
        <option value="40" selected={perPage == 40}>40</option>
        <option value="50" selected={perPage == 50}>50</option>
      </select>
    </div>
  </form>
</div>
