@import "tailwindcss";

@config "../../tailwind.config.mjs";

@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@theme {
  --font-sans: "Noto Sans", "Noto Color Emoji", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-*: initial;

  --color-base: #191724;
  --color-surface: #1f1d2e;
  --color-overlay: #26233a;
  --color-muted: #6e6a86;
  --color-subtle: #908caa;
  --color-text: #e0def4;
  --color-love: #eb6f92;
  --color-gold: #f6c177;
  --color-rose: #ebbcba;
  --color-pine: #31748f;
  --color-foam: #9ccfd8;
  --color-iris: #c4a7e7;
  --color-highlightLow: #21202e;
  --color-highlightMed: #403d52;
  --color-highlightHigh: #524f67;
}
