---
import { IMAGE_DIRECTORY } from "astro:env/server";
import { glob } from "glob";

import DefaultImage from "./defaultImage.astro";

const matches = await glob(`**/*.{png,jpeg,jpg,webm}`, {
  cwd: IMAGE_DIRECTORY,
});
matches.sort();
matches.forEach((path) => {
  console.log(path);
});
---

<availible-images
  class="bg-base m-auto grid h-full max-h-screen w-full max-w-screen-sm grid-flow-col grid-rows-2 gap-1 overflow-scroll rounded-lg p-2 xl:grid-flow-row"
>
  {
    matches.map((path) => (
      <div class="bg-overlay flex w-full max-w-sm flex-col gap-2 rounded-lg p-2">
        <DefaultImage src={`/${path}`} />
        <p class="bg-subtle text-foam mx-auto rounded-lg px-2">{`/${path}`}</p>
      </div>
    ))
  }
</availible-images>

<script>
  class AvailibleImages extends HTMLElement {
    connectedCallback() {}
  }
  customElements.define("availible-images", AvailibleImages);
</script>
