---
import Button from "@components/generic/button.astro";
---

<div class="bg-overlay rounded-lg flex flex-col py-4 px-2 max-w-2xl">
  <form method="post" id="imageUploadForm" class="flex flex-col gap-2">
    <div>
      <label for="image" class="block mb-2 font-medium text-text"
        >Upload Images</label
      >
      <input
        type="file"
        name="image"
        id="imageInput"
        class="block w-full text-sm md:text-lg px-2 text-text border border-muted rounded-lg cursor-pointer bg-highlightHigh focus:outline-none"
        multiple
      />
      <p class="mt-1 text-xs text-muted">SVG, PNG, JPG or GIF</p>
    </div>

    <Button
      style="submit"
      size="small"
      type="submit"
      data-modal-hide="default-modal"
    >
      Upload
    </Button>
  </form>
</div>

<script>
  import { actions } from "astro:actions";

  const ModalClose = new CustomEvent("modal-close", { bubbles: true });

  const form = document.getElementById("imageUploadForm");
  form?.addEventListener("submit", async (event) => {
    event.preventDefault();
    const imageFile = document.getElementById("imageInput") as HTMLInputElement;
    if (!imageFile.files || imageFile.files.length == 0) {
      alert("Please choose a file!");
      return;
    }
    const files = imageFile?.files;

    const formData = new FormData();
    for (let x = 0; x < files.length; x++) {
      formData.append(`image`, files[x]);
    }
    const { error } = await actions.uploadImage(formData);
    if (error) console.error(error.message);
    else {
      form.dispatchEvent(ModalClose);
      location.reload();
    }
  });
</script>
