---
import Button from "@components/generic/button.astro";
---

<div class="bg-overlay flex max-w-2xl flex-col rounded-lg px-2 py-4">
  <form method="post" id="imageUploadForm" class="flex flex-col gap-2">
    <div>
      <label for="image" class="text-text mb-2 block font-medium"
        >Upload Images</label
      >
      <input
        type="file"
        name="image"
        id="imageInput"
        class="text-text border-muted bg-highlightHigh block w-full cursor-pointer rounded-lg border px-2 text-sm focus:outline-none md:text-lg"
        multiple
      />
      <p class="text-muted mt-1 text-xs">SVG, PNG, JPG or GIF</p>
    </div>

    <Button
      style="submit"
      size="small"
      type="submit"
      data-modal-hide="default-modal"
    >
      Upload
    </Button>
  </form>
</div>

<script>
  import { actions } from "astro:actions";

  const ModalClose = new CustomEvent("modal-close", { bubbles: true });

  const form = document.getElementById("imageUploadForm");
  form?.addEventListener("submit", async (event) => {
    event.preventDefault();
    const imageFile = document.getElementById("imageInput") as HTMLInputElement;
    if (!imageFile.files || imageFile.files.length == 0) {
      alert("Please choose a file!");
      return;
    }
    const files = imageFile?.files;

    const formData = new FormData();
    for (let x = 0; x < files.length; x++) {
      formData.append(`image`, files[x]);
    }
    const { error } = await actions.uploadImage(formData);
    if (error) console.error(error.message);
    else {
      form.dispatchEvent(ModalClose);
      location.reload();
    }
  });
</script>
