---
import { SEO } from "astro-seo";
import Header from "@components/Header.astro";

interface Props {
  title: string;
  description?: string;
  OpenGraphImg?: string;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <SEO
      charset="utf-8"
      title={title}
      description={description ?? "No description made yet"}
      extend={{
        link: [{ rel: "icon", type: "image/svg+xml", href: "/favicon.svg" }],
        meta: [
          { name: "viewport", content: "width=device-width" },
          { name: "generator", content: Astro.generator },
        ],
      }}
    />
  </head>

  <body class="bg-kitchen-accent gap-3 p-2 flex flex-col h-screen">
    <Header />
    <div
      class="md:prose-lg 2xl:prose-2xl mx-auto rounded-md bg-kitchen-bg p-2 shadow-2xl size-full h-10/12 overflow-y-scroll text-kitchen-fg"
    >
      <slot />
    </div>
  </body>
</html>
