---
import { SEO } from "astro-seo";
import Header from "@components/Header.astro";

interface Props {
  title: string;
  description?: string;
  OpenGraphImg?: string;
}

const { title, description, OpenGraphImg } = Astro.props;
---

<html lang="en">
  <head>
    <SEO
      charset="utf-8"
      title={title}
      description={description ?? "No description made yet"}
      extend={{
        link: [{ rel: "icon", type: "image/svg+xml", href: "/favicon.svg" }],
        meta: [
          { name: "viewport", content: "width=device-width" },
          { name: "generator", content: Astro.generator },
        ],
      }}
    />
  </head>

  <body>
    <div class="bg-kitchen-accent flex flex-col gap-3 p-2">
      <Header />
      <div
        class="md:prose-lg w-3/4 mx-auto rounded-md min-h-screen bg-kitchen-bg p-2"
      >
        <slot />
      </div>
    </div>
  </body>
</html>
