---
import { SEO } from "astro-seo";
import Header from "@components/Header.astro";

interface Props {
  title: string;
  description?: string;
  OpenGraphImg?: string;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <SEO
      charset="utf-8"
      title={title}
      description={description ?? "No description made yet"}
      extend={{
        link: [{ rel: "icon", type: "image/svg+xml", href: "/favicon.svg" }],
        meta: [
          { name: "viewport", content: "width=device-width" },
          { name: "generator", content: Astro.generator },
        ],
      }}
    />
  </head>

  <body class="bg-rosePine-base gap-3 p-2 flex flex-col h-screen">
    <Header />
    <slot />
  </body>
</html>
