---
import { SEO } from "astro-seo";

import Header from "@components/header.astro";

interface Props {
  description?: string;
  OpenGraphImg?: string;
  title?: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <SEO
      charset="utf-8"
      title={title || "No title yet"}
      description={"No description made yet"}
      extend={{
        link: [{ rel: "icon", type: "image/svg+xml", href: "/favicon.svg" }],
        meta: [
          { name: "viewport", content: "width=device-width" },
          { name: "generator", content: Astro.generator },
        ],
      }}
    />
    <script src="../../node_modules/flowbite/dist/flowbite.min.js"></script>
  </head>

  <body class="bg-rosePine-base gap-3 p-2 flex flex-col h-screen">
    <Header />
    <div class="flex flex-col gap-5 items-center text-rosePine-text">
      <slot name="titlebar" />
      <slot />
    </div>
  </body>
</html>
