---
import { actions } from "astro:actions";
import "glider-js/glider.min.css";

import Button from "@components/generic/button.astro";
import RecipeCard from "@components/recipe/recipeCard.astro";
import type { Recipe } from "@lib/types";

const signature = Math.floor(Math.random() * 100);

interface Props {
  type: "random" | "popular";
  filters?: "liked"[];
  number?: number;
}
const { type, filters, number = 20 } = Astro.props;

const { data } = await Astro.callAction(actions.Recipe.getRecipes, {
  sort: type,
  filter: filters,
  number: number,
});
---

<glide-carousel data-signature={signature}>
  <div>
    <div id="glider" class="glider bg-surface rounded-lg p-2">
      {data?.map((recipe) => <RecipeCard recipe={recipe as Recipe} />)}
    </div>
    <div class="grid grid-cols-5">
      <div class="col-start-1">
        <Button
          id={"glider-prev-" + signature}
          size="medium"
          style="generic"
          extraClasses="w-full">prev</Button
        >
      </div>
      <div
        role="tablist"
        id={"dots-" + signature}
        class="dots col-span-3 w-full sm:hidden"
      >
      </div>
      <div class="col-start-5">
        <Button
          id={"glider-next-" + signature}
          size="medium"
          style="generic"
          extraClasses="w-full">next</Button
        >
      </div>
    </div>
  </div>
</glide-carousel>

<script>
  import Glider from "glider-js";

  class GlideCarousel extends HTMLElement {
    connectedCallback() {
      const signature = this.dataset.signature as string;

      const mainDiv = this.querySelector("#glider") as HTMLElement;
      if (mainDiv)
        new Glider(mainDiv, {
          slidesToScroll: 5,
          slidesToShow: 5,
          dots: "#dots-" + parseInt(signature),
          arrows: {
            prev: "#glider-prev-" + parseInt(signature),
            next: "#glider-next-" + parseInt(signature),
          },
          rewind: true,
        });
    }
  }

  customElements.define("glide-carousel", GlideCarousel);
</script>
