<flyout-menu>
  <div class="w-fit max-w-sm">
    <slot name="button" />
    <div
      id="flyoutmenu"
      class="bg-overlay absolute right-0 z-10 hidden w-full rounded-md p-1 md:w-fit"
    >
      <div class="z-10 flex flex-col">
        <slot />
      </div>
    </div>
  </div>
</flyout-menu>

<script>
  class flyoutmenu extends HTMLElement {
    connectedCallback() {
      const button = this.querySelector("button");

      const menu = this.querySelector("div[id=flyoutmenu]");
      if (!menu || !button) {
        console.log("menu is " + menu + "\nbtn is " + button);
        return;
      }

      button?.addEventListener("click", function () {
        menu?.classList.toggle("hidden");
      });
    }
  }
  customElements.define("flyout-menu", flyoutmenu);
</script>
